<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="mb-1">
                <span class="text-small">Password</span>
            </div>
            <input id="password" type="password"
                [(ngModel)]="password"
                placeholder="Password" />
            <br />
            <span class="text-small color-inactive">
                At least 8 characters.
            </span>
        </div>
        <div class="col-6">
            <div class="mb-1">
                <span class="text-small">Confirm Password</span>
            </div>
            <input id="confirmPassword" type="password"
                [(ngModel)]="confirmPassword"
                placeholder="Confirm Password" />
        </div>
    </div>
    <div class="row mt-4 mb-2">
        <div class="col-12">
            <button class="button button-accent float-right" 
                [disabled]="!isFormValid()"
                (click)="submitForm()">
                Change
            </button>
        </div>
    </div>
</div>
