<div class="container-fluid px-0">
    <div class="flex-list">
        <button class="button button-accent mt-2"
            (click)="selectKey(KeyType.Bool)">
            Boolean
        </button>
        <button class="button button-accent mt-2"
            (click)="selectKey(KeyType.Int)">
            Integer
        </button>
        <button class="button button-accent mt-2"
            (click)="selectKey(KeyType.Float)">
            Float
        </button>
        <button class="button button-accent mt-2"
            (click)="selectKey(KeyType.String)">
            String
        </button>
        <button class="button button-accent mt-2"
            (click)="selectKey(KeyType.List)">
            List
        </button>
        <button class="button button-accent mt-2"
            (click)="selectKey(KeyType.Dictionary)">
            Dictionary
        </button>
    </div>
</div>
