@using RuriLib.Models.Blocks

@if (isCategorySelection)
{
    <GenericList List="categories">
        <ElementTemplate Context="category">
            <div class="card" style="background-color: @category.BackgroundColor; cursor: pointer; margin-top: 5px; border: solid 3px #000;"
                 @onclick="@(() => SelectCategory(category))">
                <div class="card-body" style="color: @category.ForegroundColor;">
                    <h5 class="card-text">@category.Name</h5>
                </div>
            </div>
        </ElementTemplate>
    </GenericList>
}
else
{
    <button type="button" class="btn btn-success" @onclick="GoBack">Back</button>
    <GenericList List="Descriptors.Where(b => b.Category.Name == category.Value.Name).ToList()">
        <ElementTemplate Context="descriptor">
            <div style="margin-top: 5px" ></div>
            <IndividualDescriptor Descriptor="descriptor" SelectedDescriptor="SelectedDescriptor" />
        </ElementTemplate>
    </GenericList>
}

@code {
    [Parameter] public List<BlockDescriptor> Descriptors { get; set; }
    [Parameter] public EventCallback<BlockDescriptor> SelectedDescriptor { get; set; }

    private bool isCategorySelection = true;
    private BlockCategory? category = null;
    private List<BlockCategory> categories;

    protected override void OnInitialized()
    {
        categories = Descriptors.Select(b => b.Category).Distinct().ToList();
    }

    private void SelectCategory(BlockCategory category)
    {
        isCategorySelection = false;
        this.category = category;
    }

    private void GoBack()
    {
        isCategorySelection = true;
    }
}
