@*Modification from Chris Sainty's typeahead component*@
@using System.Timers
@typeparam TItem

<div class="blazored-typeahead">
    <div class="blazored-typeahead__controls">
        <input type="text" class="blazored-typeahead__input" autocomplete="off"
               @bind-value="@SearchText" @bind-value:event="oninput" @onclick="@ShowSuggestions" @onfocusout="OnFocusOut" />
    </div>
    @if (isSearching)
    {
        <div class="blazored-typeahead__results">
            <div class="blazored-typeahead__result">
                <span>Loading...</span>
            </div>
        </div>
    }
    else if (ShouldShowSuggestions())
    {
        <div class="blazored-typeahead__results border">
            @foreach (var item in Suggestions)
            {
                <div @key="item" class="blazored-typeahead__result"
                     tabindex="0" @onclick="@(() => SelectSuggestion(item))"
                     @onmouseover="OnMouseOverSuggestion" @onmouseout="OnMouseOutSuggestion">
                    @ResultTemplate(item)
                </div>
            }
        </div>
    }
    else if (ShowNotFound())
    {
        <div class="blazored-typeahead__results">
            @if (NotFoundTemplate != null)
            {
                <div class="blazored-typeahead__notfound">
                    @NotFoundTemplate
                </div>
            }
            else
            {
                <div class="blazored-typeahead__notfound">
                    No results found
                </div>
            }
        </div>
    }
</div>

@code {
    [Parameter] public string DefaultValue { set { _searchText = value; } }
    [Parameter] public int MinimumLength { get; set; } = 3;
    [Parameter] public int Debounce { get; set; } = 300;
    [Parameter] public Func<string, Task<IEnumerable<TItem>>> SearchMethod { get; set; }
    [Parameter] public RenderFragment<TItem> ResultTemplate { get; set; }
    [Parameter] public RenderFragment NotFoundTemplate { get; set; }
    [Parameter] public EventCallback<TItem> ValueChanged { get; set; }

    private bool isSearching = false;
    private bool isShowingSuggestions = false;
    private bool isMouseInSuggestion = false;
    private string _searchText = string.Empty;
    private Timer _debounceTimer;
    protected TItem[] Suggestions { get; set; } = new TItem[0];

    protected override void OnInitialized()
    {
        _debounceTimer = new Timer();
        _debounceTimer.Interval = Debounce;
        _debounceTimer.AutoReset = false;
        _debounceTimer.Elapsed += Search;
    }

    private bool ShowNotFound()
    {
        return !Suggestions.Any() && isShowingSuggestions;
    }

    private async Task SelectSuggestion(TItem item)
    {
        SearchText = string.Empty;
        await ValueChanged.InvokeAsync(item);
    }

    protected async void Search(Object source, ElapsedEventArgs e)
    {
        isSearching = true;
        isShowingSuggestions = false;
        await InvokeAsync(StateHasChanged);

        Suggestions = (await SearchMethod.Invoke(_searchText)).ToArray();

        isSearching = false;
        isShowingSuggestions = true;
        await InvokeAsync(StateHasChanged);
    }

    private string SearchText
    {
        get => _searchText;
        set
        {
            _searchText = value;

            if (value.Length == 0)
            {
                isShowingSuggestions = false;
                _debounceTimer.Stop();
                Suggestions = new TItem[0];
            }
            else if (value.Length >= MinimumLength)
            {
                _debounceTimer.Stop();
                _debounceTimer.Start();
            }
        }
    }

    private bool ShouldShowSuggestions()
    {
        return isShowingSuggestions && Suggestions.Any();
    }

    private void ShowSuggestions()
    {
        if (Suggestions.Any())
        {
            isShowingSuggestions = true;
        }
    }

    private void OnFocusOut()
    {
        if (!isMouseInSuggestion)
        {
            isShowingSuggestions = false;
        }
    }

    private void OnMouseOverSuggestion()
    {
        isMouseInSuggestion = true;
    }

    private void OnMouseOutSuggestion()
    {
        isMouseInSuggestion = false;
    }
}
