@using Blazaco
@using Blazaco.Editor
@using Blazaco.Editor.Options

<div class="container-fluid">
    <div class="row">
        <div class="list-group list-group-horizontal">
            @if (!isRunning)
            {
                <button class="btn-sm btn-success m-sm-1" @onclick="Run"><span class="oi oi-media-play"></span> Start</button>
            }
            else
            {
                <button class="btn-sm btn-danger m-sm-1" @onclick="Stop"><span class="oi oi-media-stop"></span> Stop</button>
            }
        </div>
    </div>
    <div class="row">
        @foreach (var entry in log)
        {
            <p>@entry</p>
            <br />
        }
    </div>
</div>

@code {
    private bool isRunning = false;
}