@inject JobLoggerService JobLoggerService
@implements IDisposable

<div class="generic-log" style="margin-bottom: 30px;">
    @foreach (var entry in JobLoggerService.GetLog(JobId).Reverse())
    {
        <span style="color: @entry.color;">[@entry.date.ToLongTimeString()] @entry.message.Replace("\r\n", " ").Replace("\n", " ")</span><br />
    }
</div>

@code {
    [Parameter] public int JobId { get; set; } = 0;

    protected override void OnInitialized()
    {
        JobLoggerService.NewLog += OnNewLog;
    }

    void OnNewLog(object sender, int id)
    {
        if (id != JobId)
            return;

        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        JobLoggerService.NewLog -= OnNewLog;
    }
}
