@using Ganss.XSS 

<div style="width: 500px; height: 500px; overflow: auto;">
    @((MarkupString)sanitizedHtml)
</div>

@code {
    [Parameter] public string Html { get; set; }
    private string sanitizedHtml;

    protected override void OnInitialized()
    {
        var sanitizer = new HtmlSanitizer();
        sanitizedHtml = sanitizer.Sanitize(Html);
    }
}
