@using BlazorInputFile
@using System.IO

<div>
    <div>
        <InputFile OnChange="HandleSelection" />
    </div>
</div>

<div>
    @if (Base64 != null)
    {
        <div>
            <div style="margin: 10px;">
                <img src="data:image/jpeg;base64, @Base64" style="width: 128px;" />
            </div>
        </div>
    }
</div>

@code {
    [Parameter] public string Base64 { get; set; }
    [Parameter] public EventCallback<string> Base64Changed { get; set; }

    async Task HandleSelection(IFileListEntry[] files)
    {
        var file = files.FirstOrDefault();
        if (file != null)
        {
            byte[] buffer = new byte[4 * 1024];

            using (var ms = new MemoryStream())
            {
                await file.Data.CopyToAsync(ms);
                Base64 = Convert.ToBase64String(ms.ToArray());
                await Base64Changed.InvokeAsync(Base64);
                StateHasChanged();
            }
        }
    }
}
