@using OpenBullet2.Helpers
@using BlazorInputFile
@using System.IO

<div>
    <div>
        <InputFile OnChange="HandleSelection" />
    </div>
</div>

<div>
    @if (Base64 != null)
    {
        <div>
            <div style="margin: 10px;">
                <img src="data:image/png;base64,@Base64" style="width: 128px;" />
            </div>
        </div>
    }
</div>

@code {
    [Parameter] public string Base64 { get; set; }
    [Parameter] public EventCallback<string> Base64Changed { get; set; }

    async Task HandleSelection(IFileListEntry[] files)
    {
        var file = files.FirstOrDefault();
        if (file != null)
        {
            byte[] buffer = new byte[4 * 1024];

            using (var ms = new MemoryStream())
            {
                await file.Data.CopyToAsync(ms);
                var bytes = ms.ToArray();

                if (bytes.Length > 50 * 1024)
                {
                    await js.AlertError("Image too T H I C C", "The image weighs more than 50KB. Please resize it or use a different one.");
                    return;
                }

                Base64 = Convert.ToBase64String(bytes);
                await Base64Changed.InvokeAsync(Base64);
                StateHasChanged();
            }
        }
    }
}
