@using OpenBullet2.Helpers
@using BlazorInputFile
@using System.IO

<div>
    <div>
        <InputFile OnChange="HandleSelection" />
    </div>
</div>

<div>
    @if (Base64 != null)
    {
        <div>
            <div style="margin: 10px; width: @(MaxWidth)px; height: @(MaxHeight)px;">
                <img src="data:image/png;base64,@Base64" style="height: 100%; width: 100%;" />
            </div>
        </div>
    }
</div>

@code {
    [Parameter] public string Base64 { get; set; }
    [Parameter] public int MaxKilobytes { get; set; } = 100;
    [Parameter] public int MaxWidth { get; set; } = 110;
    [Parameter] public int MaxHeight { get; set; } = 110;
    [Parameter] public int Resolution { get; set; } = 72;
    [Parameter] public EventCallback<string> Base64Changed { get; set; }

    async Task HandleSelection(IFileListEntry[] files)
    {
        var file = files.FirstOrDefault();
        if (file != null)
        {
            byte[] buffer = new byte[4 * 1024];

            using (var ms = new MemoryStream())
            {
                await file.Data.CopyToAsync(ms);
                var bytes = ms.ToArray();

                var resize = false;

                if (bytes.Length > MaxKilobytes * 1024)
                {
                    resize = await js.Confirm("Your image is T H I C C",
                        $"The image weighs more than {MaxKilobytes}KB. Do you want to resize it automatically to decrease loading times when it is rendered?");
                }

                Base64 = Convert.ToBase64String(bytes);

                if (resize)
                    Base64 = ImageEditor.ResizeImageBase64(Base64, MaxWidth, MaxHeight, Resolution);

                await Base64Changed.InvokeAsync(Base64);
                StateHasChanged();
            }
        }
    }
}
