@inherits InputTextArea
@using System.Linq.Expressions
@typeparam TValue

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6">
            <label class="fg-custom">@Label</label>
            <InputTextArea style="width: 100%; height: 500px; margin-bottom: 15px;" @bind-Value="CurrentValue" />
            <ValidationMessage For="For" />
        </div>
        <div class="col-xl-6">
            <label class="fg-custom">@Label (preview)</label>
            <div style="width: 100%;">
                <MarkdownRenderer MarkdownContent="@CurrentValue" />
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public Expression<Func<TValue>> For { get; set; }
    [Parameter] public string Label { get; set; }
}
