@using RuriLib.Models.Blocks.Custom.Keycheck

<div class="col align-self-stretch pr-0">
    <BlockInputField BlockSetting="Key.Left" DisplayName="false" />
</div>
<div class="col-auto px-0">
    <EditForm Model="Key">
        <InputSelect @bind-Value="Key.Comparison">
            @foreach (var name in Enum.GetNames(typeof(RuriLib.Models.Conditions.Comparisons.BoolComparison)))
            {
                <option value="@name">@name</option>
            }
        </InputSelect>
    </EditForm>
</div>
<div class="col align-self-stretch pr-0">
    <BlockInputField BlockSetting="Key.Right" DisplayName="false" />
</div>

@code {
    [Parameter] public BoolKey Key { get; set; }
}
