@using RuriLib.Models.Blocks.Custom
@using RuriLib.Models.Blocks.Custom.Keycheck

<EditForm Model="Block">
    <h6 class="font-weight-bold text-warning">Label:</h6>
    <InputText @bind-Value="Block.Label" />
</EditForm>

<h6 class="font-weight-bold text-warning" style="margin-top: 20px;">Settings:</h6>
@foreach (var setting in Block.Settings)
{
    <BlockInputField BlockSetting="setting" />
    <hr />
}

<h6 class="font-weight-bold text-warning" style="margin-top: 20px;">Keychains:</h6>
<div class="container-fluid">
    <div class="row">
        <div class="list-group list-group-horizontal">
            <button class="btn-sm btn-success m-sm-1" @onclick="AddKeychain"><span class="oi oi-plus"></span></button>
        </div>
    </div>
    @foreach (var keychain in Block.Keychains)
    {
        <KeycheckKeychain Keychain="keychain" />
        <button class="btn-sm btn-danger" @onclick="@(() => Block.Keychains.Remove(keychain))"><span class="oi oi-x"></span></button>
    }
</div>

@code {
    [Parameter] public KeycheckBlockInstance Block { get; set; }

    private void AddKeychain()
    {
        Block.Keychains.Add(new Keychain());
    }
}
