@using RuriLib.Models.Blocks.Custom.Keycheck

<div class="col align-self-stretch px-0">
    <BlockInputField BlockSetting="Key.Left" DisplayLabel="false" />
</div>
<div class="col-auto pr-0">
    <EditForm Model="Key">
        <InputSelect @bind-Value="Key.Comparison">
            @foreach (var name in Enum.GetNames(typeof(RuriLib.Models.Conditions.Comparisons.DictComparison)))
            {
                <option value="@name">@name</option>
            }
        </InputSelect>
    </EditForm>
</div>
<div class="col align-self-stretch px-0">
    <BlockInputField BlockSetting="Key.Right" DisplayLabel="false" />
</div>

@code {
    [Parameter] public DictionaryKey Key { get; set; }
}
