@using RuriLib.Models.Blocks 
@inject OpenBulletSettingsService OBSettingsService 

<div style="height: 700px;">
    <MonacoEditor @ref="_editor" Id="@id" ConstructionOptions="EditorConstructionOptions" OnDidChangeModelContent="SaveScript" />
</div>

@code {
    [Parameter] public LoliCodeBlockInstance Block { get; set; }
    
    private MonacoEditor _editor { get; set; }
    private string id = $"js-editor-{(DateTime.UtcNow - DateTime.UnixEpoch).TotalSeconds}";

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
            _editor.SetValue(Block.Script);
    }

    private StandaloneEditorConstructionOptions EditorConstructionOptions(MonacoEditor editor)
    {
        return new StandaloneEditorConstructionOptions
        {
            AutomaticLayout = true,
            Minimap = new EditorMinimapOptions { Enabled = false },
            Theme = OBSettingsService.Settings.CustomizationSettings.MonacoTheme,
            Language = "csharp",
            Value = Block.Script,
            MatchBrackets = true,
            WordWrap = OBSettingsService.Settings.CustomizationSettings.WordWrap ? "on" : "off"
        };
    }

    private async Task SaveScript()
    {
        Block.Script = await _editor.GetValue();
    }
}
