@using Microsoft.AspNetCore.Components.Web.Extensions.Head
@inject PersistentSettingsService Settings
@inherits LayoutComponentBase

@if (Settings.OpenBulletSettings.AppearanceSettings.Theme != "Default")
{
    <Link rel="stylesheet" href="@($"css/themes/{Settings.OpenBulletSettings.AppearanceSettings.Theme}.css")" />
}

<BlazoredModal />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>
