@using Microsoft.AspNetCore.Components.Web.Extensions.Head
@inject OpenBulletSettingsService OBSettingsService
@inject IThemeRepository ThemeRepo
@inherits LayoutComponentBase

@if (themePath != null)
{
    <Link rel="stylesheet" href="@themePath" />
}

<BlazoredModal />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    private string themePath;

    protected override async Task OnInitializedAsync()
    {
        if (OBSettingsService.Settings.CustomizationSettings.Theme != "Default")
            themePath = (await ThemeRepo.GetPath(OBSettingsService.Settings.CustomizationSettings.Theme)).Replace("wwwroot/", "");
    }
} 