@using RuriLib.Models.Blocks.Custom.HttpRequest.Multipart 

<div class="container-fluid">
    <div class="row">
        <div class="list-group list-group-horizontal">
            <button class="btn btn-sm btn-outline-success" @onclick="AddStringContent"><span class="oi oi-plus"></span> String Content</button>
            <button class="btn btn-sm btn-outline-success" @onclick="AddRawContent"><span class="oi oi-plus"></span> Raw Content</button>
            <button class="btn btn-sm btn-outline-success" @onclick="AddFileContent"><span class="oi oi-plus"></span> File Content</button>
        </div>
    </div>
    @foreach (var content in Contents)
    {
        @switch (content)
        {
            case StringHttpContentSettingsGroup x:
                <div class="row mt-4">
                    <p style="color: orange;">String Content</p>
                </div>
                <div class="row">
                    <div class="col-6 pl-0">
                        <BlockInputField BlockSetting="x.Name" />
                    </div>
                    <div class="col-6 pr-0">
                        <BlockInputField BlockSetting="x.ContentType" />
                    </div>
                </div>
                <div class="row">
                    <div class="col align-self-stretch pl-0">
                        <BlockInputField BlockSetting="x.Data" />
                    </div>
                    <div class="col-auto pr-0">
                        <button type="button" class="btn btn-sm btn-outline-danger" @onclick="@(() => Contents.Remove(content))">
                            <span class="oi oi-x"></span> Remove
                        </button>
                    </div>
                </div>
                break;

            case RawHttpContentSettingsGroup x:
                <div class="row mt-4">
                    <p style="color: orange;">Raw Content</p>
                </div>
                <div class="row">
                    <div class="col-6 pl-0">
                        <BlockInputField BlockSetting="x.Name" />
                    </div>
                    <div class="col-6 pr-0">
                        <BlockInputField BlockSetting="x.ContentType" />
                    </div>
                </div>
                <div class="row">
                    <div class="col align-self-stretch pl-0">
                        <BlockInputField BlockSetting="x.Data" />
                    </div>
                    <div class="col-auto pr-0">
                        <button type="button" class="btn btn-sm btn-outline-danger" @onclick="@(() => Contents.Remove(content))">
                            <span class="oi oi-x"></span> Remove
                        </button>
                    </div>
                </div>
                break;

            case FileHttpContentSettingsGroup x:
                <div class="row mt-4">
                    <p style="color: orange;">File Content</p>
                </div>
                <div class="row">
                    <div class="col-6 pl-0">
                        <BlockInputField BlockSetting="x.Name" />
                    </div>
                    <div class="col-6 pr-0">
                        <BlockInputField BlockSetting="x.ContentType" />
                    </div>
                </div>
                <div class="row">
                    <div class="col align-self-stretch pl-0">
                        <BlockInputField BlockSetting="x.FileName" />
                    </div>
                    <div class="col-auto pr-0">
                        <button type="button" class="btn btn-sm btn-outline-danger" @onclick="@(() => Contents.Remove(content))">
                            <span class="oi oi-x"></span> Remove
                        </button>
                    </div>
                </div>
                break;
        }
    }
</div>
@code {
    [Parameter] public List<HttpContentSettingsGroup> Contents { get; set; }

    private void AddStringContent()
    {
        Contents.Add(new StringHttpContentSettingsGroup());
    }

    private void AddRawContent()
    {
        Contents.Add(new RawHttpContentSettingsGroup());
    }

    private void AddFileContent()
    {
        Contents.Add(new FileHttpContentSettingsGroup());
    }
}
