<h1>
    <fa-icon [icon]="faCode" [fixedWidth]="true"></fa-icon>
    LoliScript
</h1>
<h6 class="color-inactive">
    Legacy custom scripting language for configs, please consider migrating
    your config to use LoliCode instead.
</h6>

<div class="mt-3" *ngIf="config === null">
    <p-card>
        <h5 class="color-bad">
            <fa-icon [icon]="faTriangleExclamation" [fixedWidth]="true"></fa-icon>
            No config selected
        </h5>
        <span class="text-small">
            No config was selected, please select a config first.
        </span>
    </p-card>
</div>

<div *ngIf="config !== null && envSettings !== null" class="container-fluid no-paddings">
    <p-splitter
        styleClass="editor-debugger-splitter w-100"
        stateStorage="local"
        stateKey="ob2-web-config-loliscript-splitter"
        [panelSizes]="[50, 50]"
        [minSizes]="[20, 20]"
        [gutterSize]="8">
        <ng-template pTemplate>
            <div class="editor-debugger-panel editor-debugger-panel-left">
                <div class="editor-container">
                    <app-code-editor #editor
                        language="loliscript" ngDefaultControl 
                        theme="vs-dark-loliscript"
                        (loaded)="editorLoaded()"
                        (codeChanged)="codeChanged($event)" />
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate>
            <div class="editor-debugger-panel editor-debugger-panel-right">
                <app-config-debugger
                    [config]="config"
                    [envSettings]="envSettings" />
            </div>
        </ng-template>
    </p-splitter>
</div>
