@import "../../styles/variables.scss";

$sidebarWidth: 230px;

.wrapper {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    background-color: $bgSecondary;
    width: $sidebarWidth;
    min-width: $sidebarWidth;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 0 1 $sidebarWidth;
}

.content {
    background-color: $bgPrimary;
    color: $fgPrimary;
    flex: 1 1 auto;
    padding: 30px 80px;
    width: calc(100vw - $sidebarWidth);
}

.logo {
    width: 100%;
    padding: 20px 25px 0px 25px;
}

.logo img {
    width: 100%;
}
