<p-dropdown
    (onChange)="valueChanged()"
    [options]="options" [(ngModel)]="ngModel">
    <ng-template let-item pTemplate="selectedItem">
        <span [class]="computeItemClass()">{{item | pascalcase : true}}</span>
    </ng-template>
    <ng-template let-item pTemplate="item">
        <span [class]="optionClass"
            *ngIf="displayFunction === null">
            {{item | pascalcase : true}}
        </span>
        <span [class]="optionClass"
            *ngIf="displayFunction !== null">
            {{displayFunction(item)}}
        </span>
    </ng-template>
</p-dropdown>
