<div *ngIf="settings === null">
    <h1>Settings</h1>
    <app-spinner [fullWidth]="true" />
</div>

<div *ngIf="settings !== null" class="container-fluid no-paddings">
    <div class="row justify-content-between">
        <div class="col-4">
            <h1>Settings</h1>
        </div>
        <div class="col-4 text-right">
            <button class="button button-secondary ml-2" 
                (click)="confirmRestoreDefaults()">Restore Defaults</button>
            <button class="button button-accent ml-2"
                [disabled]="!canSave()"
                (click)="saveSettings()">Save</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <h3>General</h3>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12">
            <span class="mr-2">When editing a config, navigate to</span>
            <app-input-dropdown key="configSectionOnLoad"
                itemClass="input-small" optionClass="input-small"
                (touched)="touched = true" ngDefaultControl
                [options]="configSections"
                [(ngModel)]="settings.generalSettings.configSectionOnLoad" />
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12">
            <p-checkbox
                (onChange)="touched = true"
                [(ngModel)]="settings.generalSettings.autoSetRecommendedBots"
                [binary]="true" inputId="autoSetRecommendedBots"
                label="Automatically set the recommended bots when a config is selected in the job creation page" />
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12">
            <p-checkbox
                (onChange)="touched = true"
                [(ngModel)]="settings.generalSettings.warnConfigNotSaved"
                [binary]="true" inputId="warnConfigNotSaved"
                label="Show a warning when the currently loaded config was not saved and another one is loaded" />
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12">
            <span class="mr-2">Default author on newly created configs</span>
            <app-input-text key="defaultAuthor" class="input-small"
                (touched)="touched = true" ngDefaultControl
                (validityChange)="onValidityChange($event)"
                [(ngModel)]="settings.generalSettings.defaultAuthor"
                placeholder="Anonymous" regex="^.+$" />
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12">
            <p-checkbox
                (onChange)="touched = true"
                [(ngModel)]="settings.generalSettings.enableJobLogging"
                [binary]="true" inputId="enableJobLogging"
                label="Enable logging in the job viewer page" />
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12">
            <span class="mr-2">Maximum number of entries in the log</span>
            <app-input-number key="logBufferSize" class="input-small"
                (validityChange)="onValidityChange($event)"
                (touched)="touched = true" ngDefaultControl
                [(ngModel)]="settings.generalSettings.logBufferSize"
                [placeholder]="30" [min]="0" [integer]="true" />
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12">
            <span class="mr-2">Job manager update interval</span>
            <app-input-number key="jobManagerUpdateInterval" class="input-small"
                (validityChange)="onValidityChange($event)"
                (touched)="touched = true" ngDefaultControl
                [(ngModel)]="settings.generalSettings.jobManagerUpdateInterval"
                [placeholder]="1000" [min]="0" [integer]="true" />
            <span class="ml-2">milliseconds</span>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12">
            <span class="mr-2">Job update interval</span>
            <app-input-number key="jobUpdateInterval" class="input-small"
                (validityChange)="onValidityChange($event)"
                (touched)="touched = true" ngDefaultControl
                [(ngModel)]="settings.generalSettings.jobUpdateInterval"
                [placeholder]="1000" [min]="0" [integer]="true" />
            <span class="ml-2">milliseconds</span>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12">
            <span class="mr-2">Default job display mode</span>
            <app-input-dropdown key="defaultJobDisplayMode"
                itemClass="input-small" optionClass="input-small"
                (touched)="touched = true" ngDefaultControl
                [options]="jobDisplayModes"
                [(ngModel)]="settings.generalSettings.defaultJobDisplayMode" />
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12">
            <p-checkbox
                (onChange)="touched = true"
                [(ngModel)]="settings.generalSettings.groupCapturesInDebugger"
                [binary]="true" inputId="groupCapturesInDebugger"
                label="Group captures in debugger" />
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12">
            <p-checkbox
                (onChange)="touched = true"
                [(ngModel)]="settings.generalSettings.ignoreWordlistNameOnHitsDedupe"
                [binary]="true" inputId="ignoreWordlistNameOnHitsDedupe"
                label="Ignore the wordlist name when removing duplicates from hits" />
        </div>
    </div>
    <div class="row mt-5 justify-content-between">
        <div class="col-4">
            <h6 class="font-weight-bold">Proxy Check Targets</h6>
        </div>
        <div class="col-4 text-right">
            <button class="button button-accent"
                    pTooltip="New proxy check target" tooltipPosition="bottom"
                    (click)="createProxyCheckTargetComponent.reset(); openCreateProxyCheckTargetModal()">
                    New
                    <fa-icon [icon]="faPlus" [fixedWidth]="true"></fa-icon>
                </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span class="text-small color-inactive">
                The proxy targets available in a Proxy Check Job. The proxies will be checked against the target URL and if the success key is found in the downloaded source, the proxy will be marked as working.
            </span>
        </div>
    </div>
    <div class="row mt-3 mb-5">
        <div class="col-12">
            <p-table
                #proxyCheckTargetsDt
                class="no-header"
                [value]="settings.generalSettings.proxyCheckTargets"
                [tableStyle]="{ 'min-width': '50rem' }"
                [paginator]="settings.generalSettings.proxyCheckTargets.length > 10"
                [rows]="10"
                [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[10, 25, 50]"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                >
                <ng-template pTemplate="emptymessage">
                    <div class="m-2">
                        <span>No proxy check targets added yet</span>
                    </div>
                </ng-template>
                <ng-template pTemplate="caption" />
                <ng-template pTemplate="body" let-target>
                    <tr>
                        <td width="40%">
                            <a class="color-primary" [href]="target.url" target=”_blank”>
                                {{ target.url }}<fa-icon [icon]="faUpRightFromSquare" class="color-inactive text-small ml-1" [fixedWidth]="true"></fa-icon>
                            </a>
                        </td>
                        <td width="40%">{{ target.successKey }}</td>
                        <td width="20%" class="text-right">
                            <button class="button button-transparent"
                                pTooltip="Edit" tooltipPosition="bottom"
                                (click)="openUpdateProxyCheckTargetModal(target)">
                                <fa-icon [icon]="faPen" [fixedWidth]="true"></fa-icon>
                            </button>
                            <button class="button button-transparent ml-2"
                                pTooltip="Delete" tooltipPosition="bottom"
                                (click)="deleteProxyCheckTarget(target)">
                                <fa-icon class="color-bad" [icon]="faX" [fixedWidth]="true"></fa-icon>
                            </button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="row mt-5 justify-content-between">
        <div class="col-4">
            <h6 class="font-weight-bold">Custom Snippets</h6>
        </div>
        <div class="col-4 text-right">
            <button class="button button-accent"
                    pTooltip="New custom snippet" tooltipPosition="bottom"
                    (click)="createCustomSnippetComponent.reset(); openCreateCustomSnippetModal()">
                    New
                    <fa-icon [icon]="faPlus" [fixedWidth]="true"></fa-icon>
                </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span class="text-small color-inactive">
                Custom snippets of code that you can configure to get your own autocompletions in the LoliCode editor.
            </span>
        </div>
    </div>
    <div class="row mt-3 mb-5">
        <div class="col-12">
            <p-table
                #customSnippetsDt
                class="no-header"
                [value]="settings.generalSettings.customSnippets"
                [tableStyle]="{ 'min-width': '50rem' }"
                [paginator]="settings.generalSettings.customSnippets.length > 10"
                [rows]="10"
                [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[10, 25, 50]"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                >
                <ng-template pTemplate="emptymessage">
                    <div class="m-2">
                        <span>No custom snippets added yet</span>
                    </div>
                </ng-template>
                <ng-template pTemplate="caption" />
                <ng-template pTemplate="body" let-snippet>
                    <tr>
                        <td width="40%">{{ snippet.name }}</td>
                        <td width="40%">{{ snippet.description }}</td>
                        <td width="20%" class="text-right">
                            <button class="button button-transparent"
                                pTooltip="Edit" tooltipPosition="bottom"
                                (click)="openUpdateCustomSnippetModal(snippet)">
                                <fa-icon [icon]="faPen" [fixedWidth]="true"></fa-icon>
                            </button>
                            <button class="button button-transparent ml-2"
                                pTooltip="Delete" tooltipPosition="bottom"
                                (click)="deleteCustomSnippet(snippet)">
                                <fa-icon class="color-bad" [icon]="faX" [fixedWidth]="true"></fa-icon>
                            </button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <h3>Security</h3>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <h3>Remote</h3>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <h3>Customization</h3>
        </div>
    </div>
</div>

<p-dialog 
    #createProxyCheckTargetModal
    header="New proxy check target" 
    [(visible)]="createProxyCheckTargetModalVisible" 
    [modal]="true" 
    [style]="{ width: '50vw' }" 
    [dismissableMask]="true"
    [closeOnEscape]="true"
    [draggable]="false" 
    [resizable]="false">
    <app-create-proxy-check-target
        #createProxyCheckTargetComponent
        (confirm)="createProxyCheckTarget($event)" />
</p-dialog>

<p-dialog 
    #updateProxyCheckTargetModal
    header="Update proxy check target" 
    [(visible)]="updateProxyCheckTargetModalVisible" 
    [modal]="true" 
    [style]="{ width: '50vw' }" 
    [dismissableMask]="true"
    [closeOnEscape]="true"
    [draggable]="false" 
    [resizable]="false">
    <app-update-proxy-check-target
        [target]="selectedProxyCheckTarget!"
        (confirm)="updateProxyCheckTarget($event)" />
</p-dialog>

<p-dialog 
    #createCustomSnippetModal
    header="New custom snippet" 
    [(visible)]="createCustomSnippetModalVisible" 
    [modal]="true" 
    [style]="{ width: '50vw' }" 
    [dismissableMask]="true"
    [closeOnEscape]="true"
    [draggable]="false" 
    [resizable]="false">
    <app-create-custom-snippet
        #createCustomSnippetComponent
        (confirm)="createCustomSnippet($event)" />
</p-dialog>

<p-dialog 
    #updateCustomSnippetModal
    header="Update custom snippet" 
    [(visible)]="updateCustomSnippetModalVisible" 
    [modal]="true" 
    [style]="{ width: '50vw' }" 
    [dismissableMask]="true"
    [closeOnEscape]="true"
    [draggable]="false" 
    [resizable]="false">
    <app-update-custom-snippet
        [snippet]="selectedCustomSnippet!"
        (confirm)="updateCustomSnippet($event)" />
</p-dialog>
