<div *ngIf="settings === null">
    <h1>Settings</h1>
    <app-spinner [fullWidth]="true" />
</div>

<div *ngIf="settings !== null" class="container-fluid no-paddings">
    <div class="row justify-content-between">
        <div class="col-4">
            <h1>Settings</h1>
        </div>
        <div class="col-4 text-right">
            <button class="button button-secondary ml-2" 
                (click)="confirmRestoreDefaults()">Restore Defaults</button>
            <button class="button button-accent ml-2"
                [disabled]="!canSave()"
                (click)="saveSettings()">Save</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <h3>General</h3>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12">
            <span class="mr-2">When editing a config, navigate to</span>
            <p-dropdown
                (onChange)="touched = true"
                [options]="configSections"
                [(ngModel)]="settings.generalSettings.configSectionOnLoad">
                <ng-template let-item pTemplate="selectedItem">
                    <span class="input-small">{{item | titlecase}}</span>
                </ng-template>
                <ng-template let-item pTemplate="item">
                    <span class="input-small">{{item | titlecase}}</span>
                </ng-template>
            </p-dropdown>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12">
            <p-checkbox
                (onChange)="touched = true"
                [(ngModel)]="settings.generalSettings.autoSetRecommendedBots"
                [binary]="true" inputId="autoSetRecommendedBots"
                label="Automatically set the recommended bots when a config is selected in the job creation page"></p-checkbox>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12">
            <p-checkbox
                (onChange)="touched = true"
                [(ngModel)]="settings.generalSettings.warnConfigNotSaved"
                [binary]="true" inputId="warnConfigNotSaved"
                label="Show a warning when the currently loaded config was not saved and another one is loaded"></p-checkbox>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12">
            <span class="mr-2">Default author on newly created configs</span>
            <app-input-text key="defaultAuthor" class="input-small"
                (touched)="touched = true" ngDefaultControl
                (validityChange)="onValidityChange($event)"
                [(ngModel)]="settings.generalSettings.defaultAuthor"
                placeholder="Anonymous" regex="^.+$" />
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12">
            <p-checkbox
                (onChange)="touched = true"
                [(ngModel)]="settings.generalSettings.enableJobLogging"
                [binary]="true" inputId="enableJobLogging"
                label="Enable logging in the job viewer page"></p-checkbox>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12">
            <span class="mr-2">Maximum number of entries in the log</span>
            <app-input-number key="logBufferSize" class="input-small"
                (validityChange)="onValidityChange($event)"
                (touched)="touched = true" ngDefaultControl
                [(ngModel)]="settings.generalSettings.logBufferSize"
                [placeholder]="30" [min]="0" [integer]="true" />
        </div>
    </div>
</div>
