@import "variables";
@import "fonts";

html {
    background-color: $bgPrimary;
    color: $fgPrimary;
}

body {
    margin: 0;
    font-family: Poppins;
    background-color: $bgPrimary;
    color: $fgPrimary;
}

* {
    font-family: Poppins;
}

.monospace {
    font-family: Chivo Mono;
}

.p-card-body {
    background-color: $bgSecondary;
    box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 1rem !important;
}

.p-card-content {
    padding: 0px !important;
}

.p-chip {
    background-color: $bgSecondary !important;
    box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.2);
}

.p-accordion-header-link,
.p-accordion-content,
.p-dialog-header,
.p-dialog-content,
.p-dialog-footer
{
    background-color: $bgSecondary !important;
}

.p-confirm-dialog-reject {
    background-color: $fgBad !important;
    color: $fgLight !important;
    border: 0px !important;
}

.p-confirm-dialog-accept {
    background-color: $fgAccent !important;
    color: $fgLight !important;
    border: 0px !important;
}

.p-datatable-header {
    border: 0px !important;
    background-color: transparent !important;
    padding: 1rem 0 !important;
}

.p-datatable-thead > tr {
    border: 0px !important;
}

.p-datatable-thead > tr > th {
    background-color: $bgSecondary !important;
}

.p-datatable-thead > tr > th {
    border: 0px !important;
}

.p-datatable-wrapper {
    border: 1px solid $fgInactive;
    border-radius: 10px;
}

.p-datatable-tbody > tr:last-child {
    border: 0px !important;
}

.p-datatable-tbody > tr > td {
    border-top: 1px solid $fgInactive !important;
}

.p-datatable-tbody > tr:nth-child(odd) {
    background-color: $bgPrimary !important;
}

.p-datatable-tbody > tr:nth-child(even) {
    background-color: $bgSecondary !important;
}

code {
    color: $fgAccentLight !important;
    margin: 0rem .2rem;
}

.button {
    border-radius: 5px;
    border: 1px solid $fgInactive;
    color: $fgLight;
    padding: 5px 10px;
    font-size: 14px;
}

.button[disabled] {
    background-color: $fgInactive;
    color: $bgPrimary;
}

.button[disabled]:hover {
    background-color: $fgInactive;
    color: $bgPrimary;
}

.button-transparent {
    background-color: transparent;
    border: 0px solid black;
}

.button-transparent:hover {
    background-color: transparent;
    border: 0px solid black;
}

.button-accent {
    background-color: $fgAccent;
    border: 1px solid $bgAccent;
}

.button-accent:hover {
    background-color: $fgAccentLight;
    transition: .5s;
}

.button-secondary {
    background-color: $bgSecondary;
}

.button-secondary:hover {
    background-color: $bgPrimary;
    transition: .5s;
    /* box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.2); */
}

input {
    background-color: transparent;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid $fgInactive;
    box-shadow: none;
    outline: none;
}

/*
input:not([pinputtext]) {
    
}
*/

textarea {
    background-color: transparent;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid $fgInactive;
    box-shadow: none;
    outline: none;
}

.color-bad {
    color: $fgBad;
}

.color-inactive {
    color: $fgInactive;
}

.text-small {
    font-size: 12px;
}
