$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;

$fgPrimary: #C2C4C6;
$fgLight: #ffffff;
$fgInactive: #6e6e6e;
$bgPrimary: #222222;
$fgAccent: #325AF5;
$bgSecondary: #111111;
$bgAccent: #090e25;