$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;

$fgPrimary: #C2C4C6;
$fgLight: #ffffff;
$fgInactive: #6e6e6e;
$bgPrimary: #161819;
$fgAccent: #325AF5;
$fgAccentLight: #5a76e9;
$bgSecondary: #1F2123;
$bgTertiary: #33373a;
$bgAccent: #090e25;
$fgGood: yellowgreen;
$fgBad: tomato;
$fgCustom: darkorange;
$bgBad: rgb(131, 36, 19);
$fgGold: gold;
$fgSilver: silver;
$fgBronze: rgb(228, 151, 63);