$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;

/*
    These are CSS and not SCSS variables so they can be
    easily replaced by themes.
*/

:root {
    --fg-primary: #C2C4C6;
    --fg-light: #ffffff;
    --fg-inactive: #6e6e6e;
    --bg-primary: #161819;
    --bg-variable: #202a5e;
    --bg-interpolated: #1f4d2f;
    --fg-accent: #325AF5;
    --fg-accent-light: #5a76e9;
    --bg-secondary: #1F2123;
    --bg-tertiary: #33373a;
    --bg-accent: #090e25;
    --fg-good: yellowgreen;
    --fg-bad: tomato;
    --fg-custom: darkorange;
    --fg-tocheck: #7fe5ff;
    --fg-banned: #DDA0DD;
    --fg-retry: #FFFF00;
    --fg-error: rgb(240, 23, 60);
    --bg-bad: rgb(131, 36, 19);
    --fg-gold: gold;
    --fg-silver: silver;
    --fg-bronze: rgb(228, 151, 63);
    --fg-variable: #2a3a8b;
    --fg-interpolated: #287443;
}
