<p-card>
    <h5 class="disclaimer">
        <fa-icon [icon]="faTriangleExclamation" [fixedWidth]="true"></fa-icon>
        Disclaimer
    </h5>
    <span>
        Performing attacks on sites you do not own (or you do not have permission to test) is <b>illegal</b>! The developer will not be held responsible for improper use of this software.
    </span>
</p-card>

<h4 class="mt-4">Contributors</h4>

<div class="container-fluid mt-3">
    <div class="row justify-content-center">
        <div class="col-2 mt-3 px-0">
            <app-contributor 
                image="../../../../assets/images/avatars/ruri.jpg"
                name="Ruri"
                role="Developer"/>
        </div>
        <div class="col-2 mt-3 px-0">
            <app-contributor 
                image="../../../../assets/images/avatars/demiurgo.webp"
                name="demiurgo"
                role="Collaborator"/>
        </div>
        <div class="col-2 mt-3 px-0">
            <app-contributor 
                image="../../../../assets/images/avatars/meinname.jpg"
                name="meinname"
                role="Collaborator"/>
        </div>
        <div class="col-2 mt-3 px-0">
            <app-contributor 
                image="../../../../assets/images/avatars/cider.png"
                name="CideR™"
                role="Alpha Tester"/>
        </div>
        <div class="col-2 mt-3 px-0">
            <app-contributor 
                image="../../../../assets/images/avatars/kuro.webp"
                name="kurosaki ichigo"
                role="Alpha Tester"/>
        </div>
        <div class="col-2 mt-3 px-0">
            <app-contributor 
                image="../../../../assets/images/avatars/b1rdy.png"
                name="B1rdY"
                role="Beta Tester"/>
        </div>
        <div class="col-2 mt-3 px-0">
            <app-contributor 
                image="../../../../assets/images/avatars/br4un.jpg"
                name="Br4un"
                role="Beta Tester"/>
        </div>
        <div class="col-2 mt-3 px-0">
            <app-contributor 
                image="../../../../assets/images/avatars/fairy.jpg"
                name="Fairy"
                role="Beta Tester"/>
        </div>
        <div class="col-2 mt-3 px-0">
            <app-contributor 
                image="../../../../assets/images/avatars/ffaez.png"
                name="Ffaez1267"
                role="Beta Tester"/>
        </div>
        <div class="col-2 mt-3 px-0">
            <app-contributor 
                name="Itamai"
                role="Beta Tester"/>
        </div>
        <div class="col-2 mt-3 px-0">
            <app-contributor 
                image="../../../../assets/images/avatars/laiteux.jpg"
                name="Laiteux"
                role="Beta Tester"/>
        </div>
        <div class="col-2 mt-3 px-0">
            <app-contributor 
                image="../../../../assets/images/avatars/pure.jpg"
                name="Pure"
                role="Beta Tester"/>
        </div>
    </div>
</div>