@import '../../../../styles/variables.scss';

.disclaimer {
    color: tomato;
}

.supporter {
    border-radius: 10px;
    border: 1px solid var(--fg-inactive);
    background-color: var(--bg-secondary);
    padding: 5px 10px;
    display: inline-block;
    margin: 10px 10px 0px 0px;
}

.gold {
    color: var(--fg-gold);
}

.silver {
    color: var(--fg-silver);
}

.bronze {
    color: var(--fg-bronze);
}

.button img {
    width: 25px;
    height: 25px;
}

.button span {
    line-height: 25px;
}

.white-icon {
    filter: invert(100%) sepia(5%) saturate(7499%) hue-rotate(285deg) brightness(114%) contrast(125%);
}
