<div class="container-fluid">
    <div class="flex-list">
        <span class="text-small">
            A <b>Multi Run Job</b> will let you run a config using input data
            such as wordlists or combinations of letters.
        </span>
        <button class="button button-accent mt-2"
            (click)="createMultiRunJob()">
            Multi Run Job
        </button>
        <span class="text-small mt-3">
            A <b>Proxy Check Job</b> will let you test your proxies against
            a given target site to check their latency, country etc.
        </span>
        <button class="button button-accent mt-2"
            (click)="createProxyCheckJob()">
            Proxy Check Job
        </button>
    </div>
</div>
