<h1>
    <fa-icon [icon]="faUsers" [fixedWidth]="true"></fa-icon>
    Guests
</h1>
<h6 class="color-inactive">
    Here you can create and manage accounts for guest users of your server, in case
    your OpenBullet instance is shared with other people
</h6>

<app-spinner *ngIf="guests === null" [fullWidth]="true" />

<div class="mt-3" *ngIf="guests !== null">
    <p-table
        #guestsDt
        [value]="guests"
        [tableStyle]="{ 'min-width': '50rem' }"
        [paginator]="guests.length > 10"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['username', 'accessExpiration', 'allowedAddresses']"
        >
        <ng-template pTemplate="emptymessage">
            <div class="m-3">
                <span>
                    {{ guests.length === 0 
                        ? 'No guests added yet' 
                        : 'No guests match the filter' }}
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="caption">
            <div class="d-flex">
                <button class="button button-accent mr-2"
                    pTooltip="New guest user" tooltipPosition="bottom"
                    (click)="createGuestComponent.reset(); openCreateGuestModal()">
                    New
                    <fa-icon [icon]="faPlus" [fixedWidth]="true"></fa-icon>
                </button>
                <button class="button button-secondary"
                    pTooltip="Clear filters" tooltipPosition="bottom"
                    (click)="guestsDt.clear()">
                    Clear
                    <fa-icon [icon]="faFilterCircleXmark" [fixedWidth]="true"></fa-icon>
                </button>
                <span class="p-input-icon-left ml-auto">
                    <input pInputText type="text"
                        spellcheck="false"
                        (input)="guestsDt.filterGlobal($any($event.target).value, 'contains')" placeholder="Search keyword" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr *ngIf="guests.length > 0">
                <th style="min-width:15rem" pSortableColumn="username">
                    <div class="d-flex align-items-center">
                        Username <p-sortIcon field="username" />
                        <p-columnFilter type="text" field="username" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width:10rem" pSortableColumn="accessExpiration">
                    <div class="flex align-items-center">
                        Access Expiration <p-sortIcon field="accessExpiration" />
                        <p-columnFilter type="date" field="accessExpiration" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width:15rem" pSortableColumn="allowedAddresses">
                    <div class="flex align-items-center">
                        Allowed Addresses <p-sortIcon field="allowedAddresses" />
                        <p-columnFilter type="text" field="allowedAddresses" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-guest>
            <tr>
                <td>{{ guest.username }}</td>
                <td>{{ guest.accessExpiration | date : 'medium' }}</td>
                <td>
                    <p-chip ngClass="mr-2" *ngFor="let address of guest.allowedAddresses">
                        <span class="monospace">{{ address }}</span>
                    </p-chip>
                </td>
                <td class="text-right">
                    <button class="button button-transparent"
                        pTooltip="Edit" tooltipPosition="bottom"
                        (click)="openUpdateGuestInfoModal(guest)">
                        <fa-icon [icon]="faPen" [fixedWidth]="true"></fa-icon>
                    </button>
                    <button class="button button-transparent ml-2"
                        pTooltip="Change password" tooltipPosition="bottom"
                        (click)="openUpdateGuestPasswordModal(guest)">
                        <fa-icon [icon]="faKey" [fixedWidth]="true"></fa-icon>
                    </button>
                    <button class="button button-transparent ml-2"
                        pTooltip="Delete" tooltipPosition="bottom"
                        (click)="confirmDeleteGuest(guest)">
                        <fa-icon class="color-bad" [icon]="faX" [fixedWidth]="true"></fa-icon>
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div class="mt-4">
    <span class="color-inactive text-small">
        Guest users <b>WILL</b> be able to
        <ul>
            <li>Import and manage their own proxies</li>
            <li>Import and manage their own wordlists</li>
            <li>Create and start their own jobs</li>
            <li>View and export their own hits</li>
        </ul>
        Guest users <b>WILL NOT</b> be able to
        <ul>
            <li>View or download configs</li>
            <li>Change the application settings</li>
        </ul>
    </span>
</div>

<p-dialog 
    #createGuestModal
    header="New guest" 
    [(visible)]="createGuestModalVisible" 
    [modal]="true" 
    [style]="{ width: '50vw' }" 
    [dismissableMask]="true"
    [closeOnEscape]="true"
    [draggable]="false" 
    [resizable]="false">
    <app-create-guest
        #createGuestComponent
        (confirm)="createGuest($event)" />
</p-dialog>

<p-dialog 
    #updateGuestInfoModal
    [header]="'Information of ' + selectedGuest?.username" 
    [(visible)]="updateGuestInfoModalVisible" 
    [modal]="true" 
    [style]="{ width: '50vw' }" 
    [dismissableMask]="true"
    [closeOnEscape]="true"
    [draggable]="false" 
    [resizable]="false">
    <app-update-guest-info
        [guest]="selectedGuest!"
        (confirm)="updateGuestInfo($event)" />
</p-dialog>

<p-dialog 
    #updateGuestPasswordModal
    [header]="'New password for ' + selectedGuest?.username" 
    [(visible)]="updateGuestPasswordModalVisible" 
    [modal]="true" 
    [style]="{ width: '50vw' }" 
    [dismissableMask]="true"
    [closeOnEscape]="true"
    [draggable]="false" 
    [resizable]="false">
    <app-update-guest-password
        [guest]="selectedGuest!"
        (confirm)="updateGuestPassword($event)" />
</p-dialog>
