@page "/"
@namespace OpenBullet2.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{ Layout = null; }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OpenBullet2</title>
    <base href="~/" />
    <!--<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />-->
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/default.css">
    <link href="_content/Blazored.Modal/blazored-modal.css" rel="stylesheet" />
    <link href="_content/GridBlazor/css/gridblazor.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/bootstrap/darkly.min.css" />
    <link rel="stylesheet" href="css/site.css" />
    <link rel="stylesheet" href="css/overrides.css" />
    <link rel="stylesheet" href="css/custom-theme.css" />
    <link rel="stylesheet" href="~/css/prism.css" />
    <link href="monaco-editor/min/vs/editor/editor.main.css" rel="stylesheet" />
    <script src="_content/GridBlazor/js/gridblazor.js"></script>
    <script src="~/js/sweetalert2.9.js"></script>
    <script src="~/js/fontawesome.js"></script>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="_content/BlazorInputFile/inputfile.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
    <script src="~/js/blazaco.interop.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/custom-theme.js"></script>
    <script src="~/js/prism.js"></script>
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="Server" />
    </app>

    <script type="blazor-boot">
    </script>

    <script src="monaco-editor/min/vs/loader.js"></script>
    <script>require.config({ paths: { 'vs': 'monaco-editor/min/vs' } });</script>
    <script src="monaco-editor/min/vs/editor/editor.main.js"></script>
    <script src="_content/BlazorMonaco/jsInterop.js"></script>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
