@page "/config/edit/code"
@using Blazaco.Editor
@using RuriLib.Models.Configs
@inject Microsoft.Extensions.Localization.IStringLocalizer<EditCS> Loc
@attribute [Authorize(Roles = "Admin")]

<div class="container-fluid">
    <div class="row mb-2">
        <span class="text-warning">@Loc["CSharpEditor"]</span>
    </div>
    @if (Config != null && Config.Mode != ConfigMode.CSharp)
    {
    <div class="row">
        <div class="list-group list-group-horizontal">
            <button class="btn btn-sm btn-outline-success" @onclick="Compile"><span class="oi oi-cog"></span> @Loc["TranspileFromBlocks"]</button>
            <button class="btn btn-sm btn-outline-warning" @onclick="ConvertConfig"><span class="oi oi-fire"></span> @Loc["ConvertToCSharpConfig"]</button>
        </div>
    </div>
    }
    <div class="row">
        <div class="w-100 mt-3" style="height: 500px;">
            <MonacoEditor @ref="_editor" class="fullscreen-editor" Model="@_editorModel" />
        </div>
    </div>
</div>
