@page "/config/edit/metadata"
@using RuriLib.Models.Configs

<EditForm Model="config">
    <label for="name">Name</label>
    <InputText style="margin-bottom: 15px;" @bind-Value="config.Metadata.Name" />

    <label for="author">Author</label>
    <InputText style="margin-bottom: 15px;" @bind-Value="config.Metadata.Author" />

    <label for="category">Category</label>
    <InputText style="margin-bottom: 15px;" @bind-Value="config.Metadata.Category" />

    <label for="image">Image</label>
    <InputImage @bind-Base64="@config.Metadata.Base64Image" />
</EditForm>

@code {
    private Config config;

    protected override void OnInitialized()
    {
        config = Static.Config;
    }
}
