@page "/hits"
@using OpenBullet2.Entities

<div class="container-fluid">
    <div class="row">
        <div class="list-group list-group-horizontal">
            <button class="btn-sm btn-primary m-sm-1" @onclick="EditHit"><span class="oi oi-pencil"></span> Edit</button>
            <button class="btn-sm btn-danger m-sm-1" @onclick="DeleteHit"><span class="oi oi-x"></span> Delete</button>
            <button class="btn-sm btn-danger m-sm-1" @onclick="PurgeHits"><span class="oi oi-trash"></span> Purge</button>
        </div>
    </div>
</div>

<EditForm Model="resultsPerPage">
    <label>Results per page</label>
    <InputSelectNumber T="int" Value="resultsPerPage" ValueExpression="(() => resultsPerPage)"
                       ValueChanged="(async val => await OnResultsPerPageChanged(val))">
        <option value="15">15</option>
        <option value="30">30</option>
        <option value="100">100</option>
        <option value="200">200</option>
        <option value="500">500</option>
    </InputSelectNumber>
</EditForm>

<p>@hits.Count results</p>

<RadzenGrid @ref="hitsGrid" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
            AllowPaging="true" PageSize="@resultsPerPage"
            AllowSorting="true" Data="@hits" TItem="HitEntity" ColumnWidth="200px"
            RowSelect="SelectHit">
    <Columns>
        <RadzenGridColumn TItem="HitEntity" Property="Data" Title="Data" />
        <RadzenGridColumn TItem="HitEntity" Property="Type" Title="Type" />
        <RadzenGridColumn TItem="HitEntity" Property="ConfigName" Title="Config" />
        <RadzenGridColumn TItem="HitEntity" Property="Date" Title="Date" />
        <RadzenGridColumn TItem="HitEntity" Property="WordlistName" Title="Wordlist" />
        <RadzenGridColumn TItem="HitEntity" Property="Proxy" Title="Proxy" />
        <RadzenGridColumn TItem="HitEntity" Property="CapturedData" Title="Captured Data" Width="@CaptureWidth" CssClass="grid-column-dynamic-width" />
    </Columns>
</RadzenGrid>
