@page "/"
@using Helpers 
@using System.Threading
@using OpenBullet2.Services
@inject MetricsService Metrics 

<h2>Welcome to OpenBullet 2</h2>

<p>
    <b>Version: </b> pre-alpha.
</p>

<p>
    <b>Webserver Uptime:</b> @Metrics.UpTime.ToReadableString()
</p>

@code {
    protected override void OnInitialized()
    {
        RefreshUptime();
    }

    private void RefreshUptime()
    {
        var timer = new Timer(new TimerCallback(async _ =>
        {
            await InvokeAsync(StateHasChanged);
        }), null, 1000, 1000);
    }
}