@page "/jobs/create"
@page "/jobs/create/{Type}"
@using OpenBullet2.Core.Models.Jobs
@inject Microsoft.Extensions.Localization.IStringLocalizer<JobCreator> Loc
@attribute [Authorize(Roles = "Admin,Guest")]

<div class="mb-3">
    @switch (jobOptions)
    {
        case MultiRunJobOptions x:
            <MultiRunOptions Options="x" />
            break;

        case ProxyCheckJobOptions x:
            <ProxyCheckOptions Options="x" />
            break;
    }
</div>

<button class="btn btn-outline-success" style="margin-bottom: 30px;" @onclick="Create">@Loc["CreateJob"]</button>
