@page "/jobs/create"
@page "/jobs/create/{Type}"
@using OpenBullet2.Models.Jobs

<div style="margin-bottom: 20px;">
    @switch (jobOptions)
    {
        case SingleRunJobOptions x:
            <SingleRunOptions Options="x" />
            break;

        case MultiRunJobOptions x:
            <MultiRunOptions Options="x" />
            break;
    }
</div>

<button class="btn btn-success" @onclick="Create">Create Job</button>
