@page "/jobs/edit/{JobId:int}"
@using OpenBullet2.Core.Models.Jobs
@inject Microsoft.Extensions.Localization.IStringLocalizer<JobEditor> Loc
@attribute [Authorize(Roles = "Admin,Guest")]

@if (jobEntity != null && CanSeeJob(jobEntity.Owner == null ? 0 : jobEntity.Owner.Id))
{
    <div class="mb-3">
        @switch (jobOptions)
        {
            case MultiRunJobOptions x:
                <MultiRunOptions Options="x" />
                break;

            case ProxyCheckJobOptions x:
                <ProxyCheckOptions Options="x" />
                break;
        }
    </div>

    <button class="btn btn-outline-success" style="margin-bottom: 30px;" @onclick="Edit">@Loc["EditJob"]</button>
}
