@page "/job/{id:int}"
@using OpenBullet2.Services
@using RuriLib.Models.Jobs
@inject JobManagerService Manager
@inject Microsoft.Extensions.Localization.IStringLocalizer<JobViewer> Loc

@if (job == null)
{
    <p>@Loc["NoJob1"] @Id, @Loc["NoJob2"].</p>
}
else
{
    switch (job)
    {
        case SingleRunJob x:
            <SingleRunJobViewer Job="x" />
            break;

        case MultiRunJob x:
            <MultiRunJobViewer Job="x" />
            break;

        case ProxyCheckJob x:
            <ProxyCheckJobViewer Job="x" />
            break;
    }
}

@code {
    [Parameter] public int Id { get; set; }
    Job job;

    protected override void OnInitialized()
    {
        job = Manager.Jobs.FirstOrDefault(j => j.Id == Id);
    }
}
