@page "/config/edit/stacker"
@using RuriLib.Models.Blocks
@using RuriLib.Models.Blocks.Custom
@inject Microsoft.Extensions.Localization.IStringLocalizer<Stacker> Loc

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div style="height: 700px; overflow-y: auto;">
                <h5>Current stack</h5>
                <StackViewer Stack="config.Stack" DeletedBlocks="config.DeletedBlocksHistory" SelectedBlock="SelectedBlock" />
            </div>
        </div>
        <div class="col-6">
            <div style="height: 700px; overflow-y: auto;">
                <h5>Block information</h5>
                @if (selectedBlock != null)
                {
                    @if (selectedBlock is KeycheckBlockInstance)
                    {
                        <KeycheckBlockSettingsViewer Block="selectedBlock as KeycheckBlockInstance" />
                    }
                    else if (selectedBlock is LoliCodeBlockInstance)
                    {
                        <LoliCodeBlockSettingsViewer Block="selectedBlock as LoliCodeBlockInstance" />
                    }
                    else
                    {
                        <BlockSettingsViewer Block="selectedBlock as AutoBlockInstance" />
                    }
                }
                else
                {
                    <text>Select a block to display its settings</text>
                }
            </div>
        </div>
        <div class="col-3">
            <div style="height: 700px; overflow-y: auto;">
                <h5>Available blocks</h5>
                <AvailableBlocksViewer Descriptors="availableBlocks" SelectedDescriptor="AddBlock" />
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 30px;">
        <Debugger Config="config" />
    </div>
</div>
