@page "/config/edit/stacker"
@using RuriLib.Models.Blocks
@using RuriLib.Models.Blocks.Custom
@inject Microsoft.Extensions.Localization.IStringLocalizer<Stacker> Loc
@attribute [Authorize(Roles = "Admin")]

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <div style="height: 700px; overflow-y: auto;">
                <h5>@Loc["CurrentStack"]</h5>
                <StackViewer @ref="stackViewer" Stack="config.Stack" DeletedBlocks="config.DeletedBlocksHistory" SelectedBlock="SelectedBlock" />
            </div>
        </div>
        <div class="col-xl-6 col-lg-6">
            <div class="pr-4" style="height: 700px; overflow-y: auto;">
                <h5>@Loc["BlockInformation"]</h5>
                @if (selectedBlock != null)
                {
                    @if (selectedBlock is KeycheckBlockInstance)
                    {
                        <KeycheckBlockSettingsViewer Block="selectedBlock as KeycheckBlockInstance"  ChangedLabel="((args) => stackViewer.RefreshView())" />
                    }
                    else if (selectedBlock is HttpRequestBlockInstance)
                    {
                        <HttpRequestBlockSettingsViewer Block="selectedBlock as HttpRequestBlockInstance"  ChangedLabel="((args) => stackViewer.RefreshView())" />
                    }
                    else if (selectedBlock is ParseBlockInstance)
                    {
                        <ParseBlockSettingsViewer Block="selectedBlock as ParseBlockInstance" ChangedLabel="((args) => stackViewer.RefreshView())" />
                    }
                    else if (selectedBlock is LoliCodeBlockInstance)
                    {
                        <LoliCodeBlockSettingsViewer Block="selectedBlock as LoliCodeBlockInstance" />
                    }
                    else
                    {
                        <BlockSettingsViewer Block="selectedBlock as AutoBlockInstance" ChangedLabel="((args) => stackViewer.RefreshView())" />
                    }
                }
                else
                {
                    <text>@Loc["NoBlockSelectedInfo"]</text>
                }
            </div>
        </div>
        <div class="col-xl-3 d-xl-block d-none">
            <div style="height: 700px; overflow-y: auto;">
                <h5>@Loc["AvailableBlocks"]</h5>
                <AvailableBlocksViewer Descriptors="availableBlocks" SelectedDescriptor="AddBlock" />
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 30px;">
        <Debugger Config="config" />
    </div>
</div>
