<div class="d-flex justify-content-between w-100">
    <div *ngIf="setting.inputMode === SettingInputMode.Fixed" class="d-flex w-100">
        <input type="text"
            spellcheck="false"
            [class]="computeClass()"
            [value]="displayValue"
            (input)="valueChanging($event)"
            (change)="inputChanged($event)"
            pTooltip="{{parameter?.description}}" />
        <button type="button"
            class="button-small encoding-button ml-1"
            [class.active]="viewMode === ByteArrayViewMode.Base64"
            pTooltip="Base64"
            (click)="changeViewMode(ByteArrayViewMode.Base64)">
            B64
        </button>
        <button type="button"
            class="button-small encoding-button ml-1"
            [class.active]="viewMode === ByteArrayViewMode.Hex"
            pTooltip="Hex"
            (click)="changeViewMode(ByteArrayViewMode.Hex)">
            HEX
        </button>
    </div>
    <app-setting-input-variable
        *ngIf="setting.inputMode === SettingInputMode.Variable"
        class="w-100"
        [setting]="setting"
        [stacker]="stacker"
        (onChange)="emitValueChanged()" />
    <app-setting-input-mode
        class="ml-1"
        [mode]="setting.inputMode"
        [allowedModes]="[SettingInputMode.Fixed, SettingInputMode.Variable]"
        (onChange)="changeMode($event)">
    </app-setting-input-mode>
</div>
