<ng-container *ngFor="let section of menu">
    <div class="menu-section" *ngIf="canView(section)">
        <div class="menu-section-header">
            <span
                [pTooltip]="section.label.length > 20 ? section.label : ''"
            >{{section.label | truncate : 20}}</span>
        </div>
        <ng-container *ngFor="let item of section.items">
            <app-menu-item *ngIf="canView(item)"
                [icon]="item.icon"
                [label]="item.label"
                [link]="item.link"
                [active]="isItemActive(item)">
        
            </app-menu-item>
        </ng-container>
    
        <div *ngIf="section.saveButton" class="mx-auto" style="width: 60%; text-align: center;">
            <button class="button button-accent-outline w-100"
                (click)="saveConfig()">
                Save Config
                <fa-icon [icon]="faSave" [fixedWidth]="true"></fa-icon>
            </button>
        </div>
    </div>
</ng-container>
