@import "../../../../../styles/variables.scss";

.perf-timespan {
    color: $fgInactive;
    font-size: 12px;
    margin-left: 1rem;
}

.perf-bad {
    color: $fgBad;
}

.perf-good {
    color: $fgGood;
}

.perf-flat {
    color: $fgInactive;
}

.perf-metric {
    font-size: 32px;
    font-weight: 500;
}

.perf-metric-small {
    font-size: 14px;
    font-weight: 500;
}

.perf-metric-label {
    color: $fgInactive;
    font-size: 10px;
}

.perf-network-down {
    color: $fgAccent;
    line-height: 14px;
    height: 14px;
}

.perf-network-up {
    color: $fgInactive;
    line-height: 14px;
    height: 14px;
}
