<h5>If you're the admin</h5>
<p>Edit your <code>UserData/OpenBulletSettings.json</code> file with any text editor,
and in the <code>SecuritySettings</code> section you will find <code>AdminUsername</code> 
and <code>AdminPasswordHash</code>. Replace the password hash with a new BCrypt hash, generated
with a tool like <a target="_blank" href="https://bcrypt-generator.com/">this one</a>.</p>
<p>Then restart the application and login with the new password.</p>

<h5>If you're a guest</h5>
<p>There's nothing you can do, you will have to ask the admin to reset your password for you.</p>