<h1>Proxies</h1>

<app-spinner *ngIf="proxyGroups === null" [fullWidth]="true" />

<div class="container-fluid" *ngIf="proxyGroups !== null">
    <div class="row my-3">
        <div class="col-12 px-0">
            <span class="mr-2">Select your proxy group</span>
            <p-dropdown
                (onChange)="proxyGroupSelected()"
                optionLabel="name"
                [options]="proxyGroups" [(ngModel)]="selectedProxyGroup">
                <ng-template let-item pTemplate="selectedItem">
                    <span class="input-small">{{item.name}}</span>
                </ng-template>
                <ng-template let-item pTemplate="item">
                    <span class="input-small">{{item.name}}</span>
                </ng-template>
            </p-dropdown>
            <button class="button button-transparent ml-2" 
                pTooltip="Create a proxy group"
                (click)="openCreateProxyGroupModal()">
                <fa-icon class="color-good" [icon]="faPlus" [fixedWidth]="true"></fa-icon>
            </button>
            <button class="button button-transparent ml-1" 
                *ngIf="selectedProxyGroup.name !== 'All'"
                pTooltip="Edit this proxy group"
                (click)="openUpdateProxyGroupModal()">
                <fa-icon class="color-accent-light" [icon]="faPen" [fixedWidth]="true"></fa-icon>
            </button>
            <button class="button button-transparent ml-1" 
                *ngIf="selectedProxyGroup.name !== 'All'"
                pTooltip="Delete this proxy group"
                (click)="confirmDeleteProxyGroup()">
                <fa-icon class="color-bad" [icon]="faX" [fixedWidth]="true"></fa-icon>
            </button>
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="proxies !== null">
    <div class="row my-3">
        <div class="col-12 px-0">
            <ul>
                <li *ngFor="let proxy of proxies.items">
                    {{proxy.host}} | {{proxy.port}}
                </li>
            </ul>
        </div>
    </div>
</div>

<p-dialog 
    #createProxyGroupModal
    header="New proxy group" 
    [(visible)]="createProxyGroupModalVisible" 
    [modal]="true" 
    [style]="{ width: '50vw' }" 
    [dismissableMask]="true"
    [closeOnEscape]="true"
    [draggable]="false" 
    [resizable]="false">
    <app-create-proxy-group
        #createProxyGroupComponent
        (confirm)="createProxyGroup($event)" />
</p-dialog>

<p-dialog 
    #updateProxyGroupModal
    [header]="'Information of ' + selectedProxyGroup.name" 
    [(visible)]="updateProxyGroupModalVisible" 
    [modal]="true" 
    [style]="{ width: '50vw' }" 
    [dismissableMask]="true"
    [closeOnEscape]="true"
    [draggable]="false" 
    [resizable]="false">
    <app-update-proxy-group
        [proxyGroup]="selectedProxyGroup"
        (confirm)="updateProxyGroup($event)" />
</p-dialog>
