@using RuriLib.Models.Blocks
@inject IModalService ModalService

<div class="add-block-modal">
    <AvailableBlocksViewer SelectedDescriptor="SelectedDescriptor" />
</div>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
    
    private void SelectedDescriptor(BlockDescriptor descriptor)
    {
        BlazoredModal.Close(ModalResult.Ok(descriptor));
    }
}