@using RuriLib.Models.Blocks
@inject IModalService ModalService

<div style="height: 500px; overflow-y: auto;">
    <AvailableBlocksViewer SelectedDescriptor="SelectedDescriptor" />
</div>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
    
    private void SelectedDescriptor(BlockDescriptor descriptor)
    {
        BlazoredModal.Close(ModalResult.Ok(descriptor));
    }
}