@using OpenBullet2.Helpers
@inject IModalService ModalService
@inject Microsoft.Extensions.Localization.IStringLocalizer<BotsSelector> Loc

<EditForm Model="Bots">
    <InputNumber @bind-Value="Bots" />
</EditForm>

<button class="btn btn-success" type="submit" @onclick="Validate">@Loc["Ok"]</button>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
    [Parameter] public int Bots { get; set; }
    
    private async Task Validate()
    {
        if (Bots < 1 || Bots > 200)
        {
            await js.AlertError("Invalid amount", "The amount must be between 1 and 200");
            return;
        }

        BlazoredModal.Close(ModalResult.Ok(Bots));
    }
}
