@using OpenBullet2.Helpers
@inject IModalService ModalService
@inject Microsoft.Extensions.Localization.IStringLocalizer<BotsSelector> Loc

<EditForm Model="Bots">
    <InputNumber TValue="int" Value="Bots" ValueExpression="() => Bots"
                 ValueChanged="(value) => Bots = Math.Clamp(value, 1, 200)" />
</EditForm>

<button class="btn btn-outline-success" type="submit" @onclick="Confirm">@Loc["Ok"]</button>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
    [Parameter] public int Bots { get; set; }
    
    private void Confirm()
    {
        BlazoredModal.Close(ModalResult.Ok(Bots));
    }
}
