@using OpenBullet2.Helpers
@inject IModalService ModalService
@inject Microsoft.Extensions.Localization.IStringLocalizer<BotsSelector> Loc

<EditForm Model="bots">
    <InputNumber @bind-Value="bots" />
</EditForm>

<button class="btn btn-success" type="submit" @onclick="Validate">@Loc["Ok"]</button>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
    int bots = 1;

    private async Task Validate()
    {
        if (bots < 1 || bots > 200)
        {
            await js.AlertError("Invalid amount", "The amount must be between 1 and 200");
            return;
        }

        BlazoredModal.Close(ModalResult.Ok(bots));
    }
}
