@inject UpdateService UpdateService

<div style="height: 500px; min-width: 250px; max-width: 800px; overflow-y: auto;">
    <div style="width: 100%">
        <MarkdownRenderer MarkdownContent="@changelog" />
    </div>
</div>

@code {
    private string changelog = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        using var client = new HttpClient();
        client.DefaultRequestHeaders.UserAgent.ParseAdd("Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:84.0) Gecko/20100101 Firefox/84.0");

        try
        {
            var response = await client.GetAsync($"https://raw.githubusercontent.com/openbullet/OpenBullet2/master/Changelog/{UpdateService.CurrentVersion}.md");
            changelog = await response.Content.ReadAsStringAsync();
        }
        catch
        {
            changelog = "Could not retrieve the changelog";
        }

        StateHasChanged();
    }
} 