@inject IModalService ModalService
@inject Microsoft.Extensions.Localization.IStringLocalizer<CustomInputQuestion> Loc

<EditForm Model="Answer">
    <label>@Question</label>
    <InputText @bind-Value="Answer" />
</EditForm>

<button class="btn btn-outline-success" type="submit" @onclick="Validate">@Loc["Ok"]</button>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
    [Parameter] public string Question { get; set; }
    [Parameter] public string Answer { get; set; }

    private void Validate()
    {
        BlazoredModal.Close(ModalResult.Ok(Answer));
    }
}
