@using OpenBullet2.Auth
@using OpenBullet2.Helpers
@inject AuthenticationStateProvider Auth
@inject NavigationManager Nav
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor ContextAccessor
@inject Microsoft.Extensions.Localization.IStringLocalizer<LoginForm> Loc

<p>@Loc["NotAuthedPleaseLogin"]</p>
<EditForm Model="user">
    <label>@Loc["Username"]</label>
    <InputText @bind-Value="user.Username" />
    <label>@Loc["Password"]</label>
    <InputText type="password" @bind-Value="user.Password" />
    <button type="submit" class="btn btn-outline-primary" @onclick="ValidateUser">@Loc["Login"]</button>
</EditForm>

@code {
    private class User
    {
        public string Username { get; set; } = string.Empty;
        public string Password { get; set; } = string.Empty;
    }

    private User user = new User();

    private async Task ValidateUser()
    {
        try
        {
            await ((OBAuthenticationStateProvider)Auth).AuthenticateUser(user.Username, user.Password, ContextAccessor.HttpContext.Connection?.RemoteIpAddress);
            Nav.NavigateTo("/");
        }
        catch (Exception ex)
        {
            await js.AlertException(ex);
        }
    }
}
