@using System.ComponentModel.DataAnnotations
@inject IModalService ModalService
@inject Microsoft.Extensions.Localization.IStringLocalizer<NewPasswordForm> Loc

<EditForm Model="passwords" OnValidSubmit="HandleValidSubmit">

    <DataAnnotationsValidator />
    <ValidationSummary />

    <label>@Loc["Password"]</label>
    <InputText type="password" @bind-Value="passwords.Password" />

    <label>@Loc["ConfirmPassword"]</label>
    <InputText type="password" @bind-Value="passwords.ConfirmPassword" />

    <button type="submit" class="btn btn-outline-success">@Loc["Ok"]</button>
</EditForm>

@code { 
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    private class Passwords
    {
        [Required]
        [StringLength(32, ErrorMessage = "The password must be between 8 and 32 characters.", MinimumLength = 8)]
        public string Password { get; set; } = string.Empty;

        [Required]
        [Compare("Password")]
        public string ConfirmPassword { get; set; } = string.Empty;
    }

    private Passwords passwords = new Passwords();

    private void HandleValidSubmit()
    {
        BlazoredModal.Close(ModalResult.Ok(passwords.Password));
    }
}
