@using System.ComponentModel.DataAnnotations 
@inject IModalService ModalService

<EditForm Model="passwords" OnValidSubmit="HandleValidSubmit">

    <DataAnnotationsValidator />
    <ValidationSummary />

    <label>Password</label>
    <InputText type="password" @bind-Value="passwords.Password" />

    <label>Confirm password</label>
    <InputText type="password" @bind-Value="passwords.ConfirmPassword" />

    <button type="submit" class="btn btn-success">Ok</button>
</EditForm>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    class Passwords
    {
        [Required]
        [StringLength(32, ErrorMessage = "The password must be between 8 and 32 characters.", MinimumLength = 8)]
        public string Password { get; set; } = string.Empty;

        [Required]
        [Compare("NewPassword1")]
        public string ConfirmPassword { get; set; } = string.Empty;
    }

    Passwords passwords = new Passwords();

    private void HandleValidSubmit()
    {
        BlazoredModal.Close(ModalResult.Ok(passwords.Password));
    }
}
