@using OpenBullet2.Helpers
@inject IModalService ModalService

<EditForm Model="passwords">
    <label>Password</label>
    <InputText type="password" @bind-Value="passwords.NewPassword1" />

    <label>Confirm password</label>
    <InputText type="password" @bind-Value="passwords.NewPassword2" />

    <button type="submit" class="btn btn-success" @onclick="VerifyPasswords">Ok</button>
</EditForm>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    class Passwords
    {
        public string NewPassword1 { get; set; }
        public string NewPassword2 { get; set; }
    }

    Passwords passwords = new Passwords();

    private async Task VerifyPasswords()
    {
        if (passwords.NewPassword1 != passwords.NewPassword2)
        {
            await js.AlertError("Uh-oh", "The passwords don't match");
            return;
        }

        BlazoredModal.Close(ModalResult.Ok(passwords.NewPassword1));
    }
}
