@using OpenBullet2.Core.Entities
@inject IModalService ModalService
@inject Microsoft.Extensions.Localization.IStringLocalizer<ProxyGroupCreate> Loc

<EditForm Model="proxyGroup">
    <InputText @bind-Value="proxyGroup.Name" />
    <button type="submit" class="btn btn-outline-success mt-2" @onclick="Create">@Loc["Create"]</button>
</EditForm>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
    private ProxyGroupEntity proxyGroup = new ProxyGroupEntity { Name = "My proxy group" };
    
    private void Create()
    {
        BlazoredModal.Close(ModalResult.Ok(proxyGroup));
    }
}
