@using OpenBullet2.Entities
@using OpenBullet2.Auth 
@inject IModalService ModalService
@inject IProxyGroupRepository ProxyGroupRepo
@inject IGuestRepository GuestRepo 
@inject AuthenticationStateProvider Auth
@inject Microsoft.Extensions.Localization.IStringLocalizer<ProxyGroupCreate> Loc

<EditForm Model="proxyGroup">
    <InputText @bind-Value="proxyGroup.Name" />
    <button type="submit" class="btn btn-outline-success mt-2" @onclick="Create">@Loc["Create"]</button>
</EditForm>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
    private ProxyGroupEntity proxyGroup;
    private int uid = -1;

    protected override async Task OnInitializedAsync()
    {
        uid = await ((OBAuthenticationStateProvider)Auth).GetCurrentUserId();

        proxyGroup = new ProxyGroupEntity
        {
            Name = "My proxy group",
            Owner = await GuestRepo.Get(uid)
        };
    }

    private async Task Create()
    {
        await ProxyGroupRepo.Add(proxyGroup);
        BlazoredModal.Close(ModalResult.Ok(proxyGroup));
    }
}
