@using OpenBullet2.Core.Entities
@inject IModalService ModalService
@inject IProxyGroupRepository repo
@inject Microsoft.Extensions.Localization.IStringLocalizer<ProxyGroupEdit> Loc

<EditForm Model="ProxyGroup">
    <InputText @bind-Value="ProxyGroup.Name" />
    <button type="button" class="btn btn-outline-success mt-2" @onclick="Edit">@Loc["Edit"]</button>
</EditForm>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
    [Parameter] public ProxyGroupEntity ProxyGroup { get; set; }

    private async Task Edit()
    {
        await repo.Update(ProxyGroup);
        BlazoredModal.Close();
    }
}
