<div class="row mt-1">
    <div class="mb-1">
        <span class="text-small">Label</span>
    </div>
    <app-input-text key="blockLabel"
        class="input-small w-100"
        ngDefaultControl
        (validityChange)="valueChanged()"
        [(ngModel)]="block.label"
        [placeholder]="descriptor.name" />
</div>
<div class="row mt-3">
    <div class="color-accent-light text-small">
        PARAMETERS
    </div>
</div>
<div class="row mt-2">
    <div class="col-12 px-0">
        <div class="mb-1">
            <app-bool-setting
                [parameter]="descriptor.parameters['banIfNoMatch']"
                [setting]="block.settings['banIfNoMatch']"
                [stacker]="stacker"
                (onChange)="valueChanged()" />
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="color-accent-light text-small">
        KEYCHAINS
        <button class="button button-transparent ml-2" 
            pTooltip="Add a keychain"
            (click)="addKeychain()">
            <fa-icon class="color-good" [icon]="faPlus" [fixedWidth]="true"></fa-icon>
        </button>
    </div>
</div>
<div class="row mt-1" *ngFor="let keychain of block.keychains; let i = index">
    <div class="col-12 px-0">
        <div class="keychain-wrapper" [ngStyle]="{backgroundColor: getColor(keychain)}">
            <div class="keychain" [ngStyle]="{borderColor: getColor(keychain)}">
                <div class="keychain-settings">
                    <div class="d-flex flex-row">
                        <div class="mb-1 mr-2">
                            <span class="text-small">Result status</span>
                        </div>
                        <app-input-dropdown key="resultStatus"
                            itemClass="input-small" optionClass="input-small"
                            ngDefaultControl
                            (ngModelChange)="keychainStatusChanged(keychain, $event)"
                            [displayFunction]="displayEnumValue"
                            [options]="keychainStatuses"
                            [ngModel]="keychain.resultStatus" />
                    </div>
                    <div class="d-flex flex-row">
                        <div class="mb-1 mr-2">
                            <span class="text-small">Mode</span>
                        </div>
                        <app-input-dropdown key="mode"
                            itemClass="input-small" optionClass="input-small"
                            ngDefaultControl
                            (ngModelChange)="keychainModeChanged(keychain, $event)"
                            [displayFunction]="displayEnumValue"
                            [options]="keychainModes"
                            [ngModel]="keychain.mode" />
                    </div>
                    <div class="d-flex flex-row">
                        <button class="button button-transparent" 
                            pTooltip="Add a key"
                            (click)="openAddKeyModal(keychain)">
                            <fa-icon class="color-primary" [icon]="faPlus" [fixedWidth]="true"></fa-icon>
                        </button>
                        <button class="button button-transparent" 
                            pTooltip="Move keychain up"
                            (click)="moveKeychainUp(i)">
                            <fa-icon class="color-inactive" [icon]="faArrowUp" [fixedWidth]="true"></fa-icon>
                        </button>
                        <button class="button button-transparent" 
                            pTooltip="Move keychain down"
                            (click)="moveKeychainDown(i)">
                            <fa-icon class="color-inactive" [icon]="faArrowDown" [fixedWidth]="true"></fa-icon>
                        </button>
                        <button class="button button-transparent" 
                            pTooltip="Remove keychain"
                            (click)="removeKeychain(i)">
                            <fa-icon class="color-bad" [icon]="faTimes" [fixedWidth]="true"></fa-icon>
                        </button>
                    </div>
                </div>
                <div class="keys-container" *ngIf="keychain.keys.length > 0">
                    <div *ngFor="let key of keychain.keys; let j = index" class="key">
                        <div class="key-left">
                            <app-bool-setting
                                *ngIf="key.left.type === BlockSettingType.Bool"
                                [setting]="key.left"
                                [stacker]="stacker"
                                (onChange)="valueChanged()" />
                            <app-int-setting
                                *ngIf="key.left.type === BlockSettingType.Int"
                                [setting]="key.left"
                                [stacker]="stacker"
                                (onChange)="valueChanged()" />
                            <app-float-setting
                                *ngIf="key.left.type === BlockSettingType.Float"
                                [setting]="key.left"
                                [stacker]="stacker"
                                (onChange)="valueChanged()" />
                            <app-string-setting
                                *ngIf="key.left.type === BlockSettingType.String"
                                [setting]="key.left"
                                [stacker]="stacker"
                                (onChange)="valueChanged()" />
                            <app-list-of-strings-setting
                                *ngIf="key.left.type === BlockSettingType.ListOfStrings"
                                [setting]="key.left"
                                [stacker]="stacker"
                                (onChange)="valueChanged()" />
                            <app-dictionary-of-strings-setting
                                *ngIf="key.left.type === BlockSettingType.DictionaryOfStrings"
                                [setting]="key.left"
                                [stacker]="stacker"
                                (onChange)="valueChanged()" />
                        </div>
                        <div class="key-comparison">
                            <app-input-dropdown [key]="'comparison' + j"
                                *ngIf="key.left.type === BlockSettingType.Bool"
                                itemClass="input-small" optionClass="input-small"
                                ngDefaultControl
                                (ngModelChange)="key.comparison = $event; valueChanged()"
                                [options]="boolComparisons"
                                [ngModel]="key.comparison" />
                            <app-input-dropdown [key]="'comparison' + j"
                                *ngIf="key.left.type === BlockSettingType.Int"
                                itemClass="input-small" optionClass="input-small"
                                ngDefaultControl
                                (ngModelChange)="key.comparison = $event; valueChanged()"
                                [options]="numComparisons"
                                [ngModel]="key.comparison" />
                            <app-input-dropdown [key]="'comparison' + j"
                                *ngIf="key.left.type === BlockSettingType.Float"
                                itemClass="input-small" optionClass="input-small"
                                ngDefaultControl
                                (ngModelChange)="key.comparison = $event; valueChanged()"
                                [options]="numComparisons"
                                [ngModel]="key.comparison" />
                            <app-input-dropdown [key]="'comparison' + j"
                                *ngIf="key.left.type === BlockSettingType.String"
                                itemClass="input-small" optionClass="input-small"
                                ngDefaultControl
                                (ngModelChange)="key.comparison = $event; valueChanged()"
                                [options]="strComparisons"
                                [ngModel]="key.comparison" />
                            <app-input-dropdown [key]="'comparison' + j"
                                *ngIf="key.left.type === BlockSettingType.ListOfStrings"
                                itemClass="input-small" optionClass="input-small"
                                ngDefaultControl
                                (ngModelChange)="key.comparison = $event; valueChanged()"
                                [options]="listComparisons"
                                [ngModel]="key.comparison" />
                            <app-input-dropdown [key]="'comparison' + j"
                                *ngIf="key.left.type === BlockSettingType.DictionaryOfStrings"
                                itemClass="input-small" optionClass="input-small"
                                ngDefaultControl
                                (ngModelChange)="key.comparison = $event; valueChanged()"
                                [options]="dictComparisons"
                                [ngModel]="key.comparison" />
                        </div>
                        <div class="key-right" *ngIf="key.right !== null && key.right !== undefined">
                            <app-bool-setting
                                *ngIf="key.right.type === BlockSettingType.Bool"
                                [setting]="key.right"
                                [stacker]="stacker"
                                (onChange)="valueChanged()" />
                            <app-int-setting
                                *ngIf="key.right.type === BlockSettingType.Int"
                                [setting]="key.right"
                                [stacker]="stacker"
                                (onChange)="valueChanged()" />
                            <app-float-setting
                                *ngIf="key.right.type === BlockSettingType.Float"
                                [setting]="key.right"
                                [stacker]="stacker"
                                (onChange)="valueChanged()" />
                            <app-string-setting
                                *ngIf="key.right.type === BlockSettingType.String"
                                [setting]="key.right"
                                [stacker]="stacker"
                                (onChange)="valueChanged()" />
                            <app-list-of-strings-setting
                                *ngIf="key.right.type === BlockSettingType.ListOfStrings"
                                [setting]="key.right"
                                [stacker]="stacker"
                                (onChange)="valueChanged()" />
                            <app-dictionary-of-strings-setting
                                *ngIf="key.right.type === BlockSettingType.DictionaryOfStrings"
                                [setting]="key.right"
                                [stacker]="stacker"
                                (onChange)="valueChanged()" />
                        </div>
                        <button class="button button-transparent" 
                            pTooltip="Remove key"
                            (click)="removeKey(keychain, j)">
                            <fa-icon class="color-bad" [icon]="faTimes" [fixedWidth]="true"></fa-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog 
    header="Create a key"
    [(visible)]="addKeyModalVisible" 
    [modal]="true" 
    [style]="{ width: '25vw' }" 
    [dismissableMask]="true"
    [closeOnEscape]="true"
    [draggable]="false" 
    [resizable]="false">
    <app-create-keycheck-key
        (onSelect)="addKey($event)" />
</p-dialog>
