@import "../../../../../styles/variables.scss";

.menu-item {
    width: 180px;
    height: 25px;
    margin: 15px 0px 15px 30px;
    padding: 0px 0px 0px 15px;
    color: var(--fg-primary);
    cursor: pointer;

    .menu-item-label {
        font-weight: 200;
        font-size: 16px;
        margin-left: 20px;
    }

    &:not(.selected):hover {
        color: var(--fg-accent);
        border-left: 1px solid var(--fg-inactive);
        opacity: 0.9;
        margin-left: 29px;

        .menu-item-label {
            font-weight: 400;
        }
    }
    

    &.selected {
        color: var(--fg-light);
        border-left: 1px solid var(--fg-accent);
        margin-left: 29px;
    }
}
