<div class="d-flex justify-content-between w-100">
    <app-input-dictionary [key]="setting.name"
        *ngIf="setting.inputMode === SettingInputMode.Fixed"
        class="d-block w-100 input-small"
        ngDefaultControl
        (dictionaryChange)="setValue($event)"
        [dictionary]="setting.value"
        pTooltip="{{parameter?.description}}" />
    <app-input-dictionary [key]="setting.name"
        *ngIf="setting.inputMode === SettingInputMode.Interpolated"
        class="d-block w-100 input-small interpolated"
        ngDefaultControl
        (dictionaryChange)="setValue($event)"
        [dictionary]="setting.value"
        pTooltip="{{parameter?.description}}" />
    <app-setting-input-variable
        *ngIf="setting.inputMode === SettingInputMode.Variable"
        class="w-100"
        [setting]="setting"
        (onChange)="valueChanged()" />
    <app-setting-input-mode
        class="ml-1"
        [mode]="setting.inputMode"
        [allowedModes]="[
            SettingInputMode.Fixed,
            SettingInputMode.Interpolated,
            SettingInputMode.Variable
        ]"
        (onChange)="changeMode($event)">
    </app-setting-input-mode>
</div>
