<app-spinner *ngIf="changelog === null" [fullWidth]="true" />
<ng-container *ngIf="changelog !== null">
    <div *ngIf="updateInfo !== null && updateInfo.isUpdateAvailable" class="update-alert">
        <div class="font-weight-bold">Update available: v{{updateInfo.currentVersion}} → v{{updateInfo.remoteVersion}}</div>
        <div class="mt-2">
            Download the latest release from
            <a target="_blank" [href]="'https://github.com/openbullet/OpenBullet2/releases/tag/' + updateInfo.remoteVersion">
                GitHub
            </a>.
        </div>
    </div>
    <div [innerHTML]="changelog.markdownText | markdown | async"></div>
</ng-container>
