<h1>Settings</h1>

<div class="mt-3" *ngIf="config === null">
    <p-card>
        <h5 class="color-bad">
            <fa-icon [icon]="faTriangleExclamation" [fixedWidth]="true"></fa-icon>
            No config selected
        </h5>
        <span class="text-small">
            No config was selected, please select a config first.
        </span>
    </p-card>
</div>

<div *ngIf="config !== null && envSettings !== null" class="container-fluid no-paddings">
    <div class="row my-3">
        <div class="col-12">
            <h3>General</h3>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12">
            <span class="mr-2">Suggested amount of Bots</span>
            <app-input-number key="suggestedBots" class="input-small"
                ngDefaultControl
                (validityChange)="localSave()"
                [(ngModel)]="config.settings.generalSettings.suggestedBots"
                placeholder="1" [min]="1" />
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12">
            <span class="mr-2">CPM Limit (0 for no limit)</span>
            <app-input-number key="maximumCPM" class="input-small"
                ngDefaultControl
                (validityChange)="localSave()"
                [(ngModel)]="config.settings.generalSettings.maximumCPM"
                placeholder="1" [min]="0" />
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12">
            <p-checkbox
                (onChange)="localSave()" ngDefaultControl 
                [(ngModel)]="config.settings.generalSettings.saveEmptyCaptures"
                [binary]="true" inputId="saveEmptyCaptures"
                label="Save empty captures too" />
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12">
            <p-checkbox
                (onChange)="localSave()" ngDefaultControl 
                [(ngModel)]="config.settings.generalSettings.reportLastCaptchaOnRetry"
                [binary]="true" inputId="reportLastCaptchaOnRetry"
                label="Report the last captcha if the bot ends with a RETRY status" />
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12">
            <span class="mb-2 d-block">Statuses for which the bot will continue / stop</span>
            <app-multiple-selector
                (onChange)="localSave()"
                [(selectedItems)]="config.settings.generalSettings.continueStatuses"
                [allItems]="botStatuses"
                />
        </div>
    </div>
</div>
