
<div class="container-fluid vh-100 vw-100 wrapper">
    <div class="row h-100 justify-content-md-center align-items-center">
        <div class="col-12 col-lg-8 col-xl-6 mx-0">
            <p-card class="text-center" header="There's nothing here!">
                <img src="../../../../assets/images/bulletta-512.png"
                    alt="Bulletta" width="256px" height="256px" />
                <p class="mt-3">
                    You seem to have stumbled upon a non-existing page.
                    <br />
                    Why don't you go back to the homepage and try again?
                </p>
                <button class="button button-accent"
                    [routerLink]="['/home']">Back to Home</button>
            </p-card>
        </div>
    </div>
</div>
